{% extends "template.html"%}
{% block conteudo %}

<table class="table table-striped table-responsive table-bordered" width="100%">
	<thead class="thead-default">
		<tr>
			<th>Nome do Evento</th>
			<th>Início</th>
			<th>Fim</th>
		</tr>
	</thead>
	<tbody>
	{% for evento in eventos %}
		<tr>
			<td>{{evento.nome}}</td>
			<td>{{evento.data_inicio}}</td>
			<td>{{evento.data_fim}}</td>
			<td>
				<a href="{{url_for('deletar', id=evento.id)}}">Deletar</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>

</table>
	<form action="/novo" method="get">
          <button type="submit" class="btn btn-primary btn-adicionar">Adicionar Evento</button>
	</form>
</html>

{% endblock %}
